In [1]:
## Before using this package, you should install it through pip first (remove the comment before running)
!pip install sportsreference

Collecting sportsreference
  Downloading sportsreference-0.5.2-py3-none-any.whl (472 kB)
     |████████████████████████████████| 472 kB 187 kB/s eta 0:00:01
Collecting pyquery>=1.4.0
  Downloading pyquery-1.4.1-py2.py3-none-any.whl (22 kB)
Requirement already satisfied: pandas>=0.24.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from sportsreference) (1.0.1)
Requirement already satisfied: requests>=2.18.4 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from sportsreference) (2.22.0)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: lxml>=2.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pyquery>=1.4.0->sportsreference) (4.5.0)
Requirement already satisfied: pytz>=2017.2 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.1->sportsreference) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.1->sportsreference) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.1->sportsreference) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (2.8)
Requirement already satisfied: six>=1.5 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.1->sportsreference) (1.14.0)
Installing collected packages: cssselect, pyquery, sportsreference
Successfully installed cssselect-1.1.0 pyquery-1.4.1 sportsreference-0.5.2
Requirement already satisfied: sportsreference in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (0.5.2)
Requirement already satisfied: pyquery>=1.4.0 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from sportsreference) (1.4.1)
Requirement already satisfied: pandas>=0.24.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from sportsreference) (1.0.1)
Requirement already satisfied: requests>=2.18.4 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from sportsreference) (2.22.0)
Requirement already satisfied: lxml>=2.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pyquery>=1.4.0->sportsreference) (4.5.0)
Requirement already satisfied: cssselect>0.7.9 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pyquery>=1.4.0->sportsreference) (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.1->sportsreference) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.1->sportsreference) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.1->sportsreference) (2.8.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.18.4->sportsreference) (2019.11.28)
Requirement already satisfied: six>=1.5 in /Users/Sarah/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.1->sportsreference) (1.14.0)

In [2]:
# import pandas
import pandas as pd

In [3]:
#To searh by individual player

from sportsreference.nba.roster import Player

chefcurry= Player("curryst01")
chef_df= chefcurry.dataframe
chef_df
chef_df.columns
df2= chef_df[['percentage_shots_three_pointers', 'percentage_sixteen_foot_plus_two_pointers']]
df2

,percentage_shots_three_pointers,percentage_sixteen_foot_plus_two_pointers
2009-10,0.332,0.290
2010-11,0.325,0.280
2011-12,0.409,0.301
2012-13,0.432,0.265
2013-14,0.445,0.245
2014-15,0.482,0.163
2015-16,0.554,0.088
2016-17,0.547,0.116
2017-18,0.580,0.108
2018-19,0.604,0.110
2019-20,0.598,0.122
Career,0.481,0.184

In [4]:
#Simple form to call Team Data by year

from sportsreference.nba.teams import Teams
teams = Teams(year='1997')

#Select Team to Analyze
bulls = teams('CHI')

# Df that motha
bulls.dataframe

,abbreviation,assists,blocks,defensive_rebounds,field_goal_attempts,field_goal_percentage,field_goals,free_throw_attempts,free_throw_percentage,free_throws,...,rank,steals,three_point_field_goal_attempts,three_point_field_goal_percentage,three_point_field_goals,total_rebounds,turnovers,two_point_field_goal_attempts,two_point_field_goal_percentage,two_point_field_goals
CHI,CHI,2142,332,2461,6923,0.473,3277,1848,0.747,1381,...,1,716,1403,0.373,523,3696,1109,5520,0.499,2754

In [5]:
#You can see attributes of what you can call by using:
bulls?

In [6]:
det?

Object `det` not found.

In [7]:
det.dataframe.columns

NameError: name 'det' is not defined