In [2]:
import pandas as pd
closed_file = 'NBA Abbreviations.csv'
nba = pd.read_csv(closed_file)
nba

                      Team Abbreviation
0            Atlanta Hawks          ATL
1            Brooklyn Nets          BKN
2           Boston Celtics          BOS
3        Charlotte Hornets          CHA
4            Chicago Bulls          CHI
5      Cleveland Cavaliers          CLE
6         Dallas Mavericks          DAL
7           Denver Nuggets          DEN
8          Detroit Pistons          DET
9    Golden State Warriors          GSW
10         Houston Rockets          HOU
11          Indiana Pacers          IND
12    Los Angeles Clippers          LAC
13      Los Angeles Lakers          LAL
14       Memphis Grizzlies          MEM
15              Miami Heat          MIA
16         Milwaukee Bucks          MIL
17  Minnesota Timberwolves          MIN
18    New Orleans Pelicans          NOP
19         New York Knicks          NYK
20   Oklahoma City Thunder          OKC
21           Orlando Magic          ORL
22      Philadelphia 76ers          PHI
23            Phoenix Suns          PHX
24  Portland Trail Blazers          POR
25        Sacramento Kings          SAC
26       San Antonio Spurs          SAS
27         Toronto Raptors          TOR
28               Utah Jazz          UTA
29      Washington Wizards          WAS